.questions {
  padding: 60px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}
.questions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.questions__inner .faq {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.questions__inner .faq .faq__item {
  border-radius: 30px;
  overflow: hidden;
}
.questions__inner .faq .faq__item .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 36px;
  background: #f5f5f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.questions__inner .faq .faq__item .title h4 {
  color: var(--black);
}
.questions__inner .faq .faq__item .title button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.questions__inner .faq .faq__item.active .title {
  background: var(--black);
}
.questions__inner .faq .faq__item.active .title h4 {
  color: #fff;
}
.questions__inner .faq .faq__item.active .title button {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}
.questions__inner .faq .faq__item.active .title button svg path {
  fill: #fff;
  stroke: #fff;
}
.questions__inner img {
  height: 100%;
}