.signin {
  padding: 60px 24px;
  width: 100%;
  background: url(../../assets/images/others/signin.png) center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .signin__form {
    backdrop-filter: blur(14px);
    background: rgba(6, 2, 2, 0.28);
    border-radius: 30px;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    h2 {
      font-style: italic;
      color: #f9f9f9;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      align-items: center;

      input {
        width: 100%;
        border: none;
        border-radius: 20px;
        padding: 14px 30px;
        background: #f5f5f5;
        margin-bottom: 20px;
        font-size: var(--font-size-small);
        outline: none;
      }

      input:focus {
        outline: 2px solid #4a4a4a;
      }

      label {
        align-self: flex-start;
        color: #fff;

        span {
          color: var(--orange);
        }
      }

      button {
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 14px 30px;
        background: none;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
      }

      button:hover {
        background: #fff;
        color: #4a4a4a;
      }
    }

    p {
      color: #fff;

      a {
        color: #fff;
        font-style: italic;
        font-weight: 400;
      }

      a:hover {
        color: var(--orange);
      }
    }
  }
}
